

.bg-w1{background-color: #f7f7f7}

.bdr1{border: 1px solid #c8ced3}

.bg-white{background-color: white}

.clr-orange{color: #f95113 !important;}
.clr-orange-l{color: #fb8a61 !important;}

.bg-orange{background-color: #f95113 !important;}
.bg-orange-l{background-color: #fb8a61 !important;}