.nosp{padding: 0; margin: 0;}
.nomg{margin: 0 ;}
.nopd{padding: 0;}

.pd2p{padding: 2px};
.pd5p{padding: 5px};
.pd2{padding: 0.2em}
.pd5{padding: 0.5em}
.pd10{padding: 1em}
.pd15{padding: 1.5em}
.pd20{padding: 2em}

.pdv-10{padding-top: 1em; padding-bottom: 1em;}
.pdv-20{padding-top: 2em; padding-bottom: 2em;}

.pdl10{padding-left: 1em}

.mgl10{margin-left: 1em}
.mgr-05{margin-right: 0.5em}
.mgr-10{margin-right: 1em}
.mgb10{margin-bottom: 1em;}

.mg-v-auto{margin-top: auto; margin-bottom: auto}

.fx-basis-1{flex-basis: 10%}
.fx-basis-2{flex-basis: 20%}
.fx-basis-3{flex-basis: 30%}
.fx-basis-4{flex-basis: 40%}
.fx-basis-5{flex-basis: 50%}
.fx-basis-6{flex-basis: 60%}
.fx-basis-7{flex-basis: 70%}
.fx-basis-8{flex-basis: 80%}
.fx-basis-9{flex-basis: 90%}

.form-space{
  display: block;
  height: 1px;
  width: 100%;
  background-color: #c8ced3;
  margin-top: 2em;
  margin-bottom: 2em;
}

.fs-05{font-size: 0.5em}
.fs-10{font-size: 1em}
.fs-15{font-size: 1.5em}
.fs-20{font-size: 2em}

.token-img-1{width: 1em; height: 1em}
.token-img-2{width: 2em; height: 2em}
.token-img-3{width: 3em; height: 3em}